$not-selected-border-color: #cccccc;
$not-selected-color: #817777;

.select-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &.disabled {
        opacity: 0.5;
        .item {
            cursor: not-allowed;
        }
    }

    .item {
        border: 1px solid $not-selected-border-color;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(225, 225, 225, 1) 100%);
        cursor: pointer;

        width: 203px;
        height: 78px;
        flex: 0 0 203px;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        margin: 20px 20px;

        &.selected {
            background: rgb(0, 57, 106);
            background: radial-gradient(circle, rgba(0, 57, 106, 1) 0%, rgba(2, 38, 71, 1) 100%);
            color: white;
        }

        .description-indicator {
            position: absolute;
            right: 2px;
            bottom: 0px;
        }
    }
}
