<div class="select-item" [ngClass]="disabled ? 'disabled' : ''">
    <div 
        *ngFor="let item of items" 
        class="item" 
        [ngClass]="isSelected(item) ? 'selected' : ''"
        (click)="setValue(item)">
        <div class="title">{{item.title}}</div>
        <div *ngIf="item.description | stringNotEmpty" class="description-indicator">
            <app-hint [text]="item.description"></app-hint>
        </div>
    </div>
</div>