<div class="panel" [ngClass]="open ? 'open' : 'closed'">
    <div class="header">
        <div class="title">{{title}}</div>
        <div class="roll-icon" (click)="toggle()">
            <i *ngIf="open" class="fas fa-chevron-down"></i>
            <i *ngIf="!open" class="fas fa-chevron-up"></i>
        </div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>