$border-color: #e5e5e5;
$header-font-color: #79787c;
$header-bg-color: #f5f5f5;

.panel {
    border: 1px solid $border-color;
    border-radius: 3px;

    .header {
        padding: 10px 10px;
        color: header-font-color;
        background-color: $header-bg-color;
        border-bottom: 1px solid $border-color;

        display: flex;

        .title {
            flex: 1 0;
        }

        .roll-icon {
            flex: 0 0;
            cursor: pointer;
        }
    }

    .content {
        padding: 10px 10px;
        
        transition: max-height 0.25s ease-out;
    }

    &.closed {
        .header {
            border-bottom: none;
        }

        .content{
            display: none;
        }
    }
}
