$bg_color: #a0f1eb;
$color: #2e7294;

.hint {
    .content {
        visibility: hidden;
        position: absolute;
        width: 120px;
        text-align: center;

        bottom: 120%;
        left: 50%;
        margin-left: -60px;

        background-color: $bg_color;
        font-size: 10px;
        color: $color;
        padding: 10px 0px;
        border-radius: 3px;
        z-index: 1;

        &::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $bg_color transparent transparent transparent;
        }
    }

    &:hover > .content {
        visibility: visible;
    }
}
